@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Potion Maker</h1>
    <p>Thi site the user will be able to become a potion brewer to create potions and descover new ones.</p>
</div>
