@model MerchantShopViewModel
@{
    ViewData["Title"] = "Merchant Shop";
}
<h1 class="text-center">Welcome to the merchant shop!!</h1>
<p>This is where you can restock on all your potion ingredients.</p>
<div class="panel-body">
    <table class="table table-md text-md-left table-bordered">
        <thead>
            <tr>
                <th>Ingredient Name</th>
                <th>Description</th>
                <th>Amount at home</th>
                <th>Amount to buy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ingredient i in Model.IngList)
            {
            <tr>
                <td>@i.IngName</td>
                <td>@i.IngDescription</td>
                <td>@i.IngStock </td>
                <td>
                    <form asp-controller="Home" asp-action="MerchantShop" asp-antiforgery="true" method="post">
                        <input type="hidden" value="@i.IngID" asp-for="IngredientID" />
                        <input asp-for="AmountBought" value="0"/>
                        <button class="btn btn-success" type="submit">Complete Order</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>