@model IEnumerable<PotionMaker.Models.Ingredient>
@{
    ViewData["Title"] = "Ingredient Stock";
}
<h2 class="text-center">This is all of the stock for the ingredients</h2>
<div class="panel-body">
    <table class="table table-md text-md-left table-bordered">
        <thead>
            <tr>
                <th>Ingredient Name</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ingredient i in Model)
            {
                <tr>
                    <td>@i.IngName</td>
                    <td>@i.IngDescription</td>
                    <td>@i.IngStock </td>
                </tr>
            }
        </tbody>
    </table>
</div>